.error-header {
  color: red;
  text-align: center;
  background-color: #000;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  display: flex;
  /* margin: 100px 300px 100px 300px; */
  text-align: center;
  /* align-items: center; */
  justify-content: center;


}

.choose-student {
  width: 15%;
  background-color: #c3edea;
}

.choose-cat {
  width: 15%;
  background-color: #fc7e2f;
}
