h1{
  color: blue;
  text-align: center;
}

body{
  display: block;
  text-align: center;
}
img{
  max-width: 400px;
  max-height: 400px;
}
.add-item{
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.container{
  margin: auto;
}

.listItem{
  padding-top: 10px;
  text-align: left;
}
.inventory-list{
  position: relative;
  margin-left: 40%;
}
.decrement{
  position: fixed;
  margin-left: 200px;
}
